body {
	background: #11131f;
	max-width: 920px;
	margin-left: auto;
	margin-right: auto;
	color: #d2d4e3;
	font-family: "Inter", sans-serif;
}
h1 {
	margin-top: 1em;
	margin-bottom: 12px;
	color: #f9f9fb;
	font-family: "Fire Sans", sans-serif;
	font-size: 3em;
	text-align: left;
	line-height: 1.6em;
}
section#buttons {
	display: block;
	margin-top: 40px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: left;
	width: auto;
	margin-left: auto;
}
#buttons a {
	display: inline-block;
	padding: 20px;
	margin: 0.25em;
	cursor: pointer;
	font-family: "Fira sans", serif;
	font-size: 1.2em;
	border-radius: 5px;
	border: 2px solid #11131f;
	transition: border-color 0.5s;
	text-decoration: none;
	color: black;
}
#buttons a.main {
	background: #00ff5a;
}
#buttons a.alt {
	background: #c3c6d9;
}
#buttons a:hover {
	border-color: #a9ff00;
}
p {
	font-weight: 300;
	text-align: left;
	font-size: 1.2em;
	max-width: 800px;
}
iframe {
	width: 560px;
	display: block;
	margin: 0.5em 0.5em 100px 0;
}

.reference {
	color: #00ff5a;
	background: black;
	padding: 0.25em;
}
a.reference-link:link, a.reference-link:visited, a.reference-link:active {
	color: #f9f9fb;
}
a.reference-link:hover {
	color: #00ff5a;
	background: black;
	border-bottom: 5px solid black;
	border-left: 10px solid black;
	border-right: 10px solid black;
	border-top: 3px solid black;

	transition-property: background, color, border;
	transition-duration: 250ms;
}
.reference-link {
	text-decoration: none;
	border-bottom: 5px solid #00ff5a;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	border-top: 3px solid transparent;
}
